<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">File: </label><br>
        <input type="file" name="file" id="file" required /><br><br>

        <label for="password">Password: </label><br>
        <input type="password" name="password" id="password"><br><br>

        <button type="submit">Share</button><br>
    </form>

    <% if (locals.fileLink != null) { %>
        <div>
            File is uploaded
            <a href="<%= locals.fileLink %>">
                <%= locals.fileLink %>
            </a>
        </div>
    <% } %>

</body>

</html>